/* General layout rules */

#header {
  background-image: url('../images/mozilla-banner.gif');
  background-repeat: no-repeat;
  background-color: rgb(2, 2, 4);
  height: 58px;
}

#footer p {
  margin: 10px;
  text-align: right;
  font-size: 70%;
}

#content {
  padding: 10px 220px 10px 10px;
}

.body h1 {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.body h2 {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.body ul {
  padding-left: 40px;
  margin-bottom: 0.5em;
}

.body li {
  list-style-type: disc;
}

.body p {
  margin-bottom: 0.5em;
}

#overview {
  position: fixed;
  top: 68px;
  right: 10px;
  background-color: white;
  margin-bottom: 10px;
  width: 200px;
  font-size: 80%;
}

#overview .block {
  border: 1px solid blue;
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
}

#overview h2 {
  font-weight: bold;
  margin-top: 0;
}

/* Index page rules */

.interfacelist {
  -moz-column-count: 2;
}

.variants {
  vertical-align: super;
  font-size: 70%;
}

/* Interface rules */
.controls {
  text-align: center;
}

.hidesame .unchanged {
  display: none;
}

.diff h2 {
  text-align: center;
}


.added .after {
  background-color: lightgreen;
}

.removed .before {
  background-color: rgb(255, 204, 153);
}

.matching {
}

.modified {
  background-color: lightblue;
}
.commentrow td {
  padding-top: 1em;
}

.signaturerow td {
  padding-bottom: 1em;
}

.member, .idl {
  font-family: monospace;
  margin: 1em 0 1em 40px;
}

.diff .signature {
  margin: 2px;
}

.signature {
  padding-left: 8em;
  text-indent: -8em;
}

.param {
  white-space: nowrap;
}

.comment {
  color: grey;
  padding-left: 4em;
  margin-bottom: 0.5em;
  font-size: 90%;
}

.sourcelink {
  vertical-align: middle;
}

.keyword {
  color: darkred;
}

.name {
  color: green;
}

.name a,
.type a {
  color: inherit;
}

.type {
  color: blue;
}

.value {
  color: purple;
}
