{% extends "apidoc.html" %}

{% block title %}{{ component }} in {{ version.application }} {{ version }}{% endblock %}
{% block header %}{{ component }} in {{ version.application }} {{ version }}{% endblock %}

{% block breadcrumbs %}
  &raquo; Applications
  &raquo; <select onchange="window.location.href = this.value">
            {% for v in componentversions %}
              <option value="{% url xpcomref.views.appcomponent name=v.version.application version=v.version contract=component %}"{% ifequal version v.version %} selected="selected"{% endifequal %}>{{ v.version.application }} {{ v.version }}</option>
            {% endfor %}
          </select>
  &raquo; <a href="{% url xpcomref.views.appcomponents name=version.application version=version %}">Components</a>
  &raquo; {{ component }}
{% endblock %}

{% block body %}
{% for cvi in componentversion.componentversioninterface_set.all %}
  {% if forloop.first %}
    <h2>Implements</h2>
    <ul class="implementlist interfaces">
  {% endif %}
  <li>
    <a href="{% url xpcomref.views.appinterface name=version.application version=version interface=cvi.interface %}">{{ cvi.interface }}</a>
    {% for platform in cvi.platforms.all %}
      <img src="{{ MEDIA_URL }}images/{{ platform.codename }}16.png" alt="{{ platform }}" title="Supported in {{ platform }}" />
    {% endfor %}
  </li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}
{% endblock body %}
