{% extends "apidoc.html" %}

{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/filter.js"></script>
{% endblock %}

{% block title %}{{ version.application.name }} {{ version }} Components{% endblock %}
{% block header %}{{ version.application.name }} {{ version }} Components{% endblock %}

{% block breadcrumbs %}
  &raquo; Applications
  &raquo; <select onchange="window.location.href = this.value">
            {% for v in versions %}
              <option value="{% url xpcomref.views.appcomponents name=v.application version=v %}"{% ifequal version v %} selected="selected"{% endifequal %}>{{ v.application.name }} {{ v }}</option>
            {% endfor %}
          </select>
  &raquo; Components
{% endblock %}

{% block navboxes %}
<p class="navbox">
  <img src="{{ MEDIA_URL }}silk/find.png" />
  Filter: <input id="filterbox" type="text" onkeypress="filterChange()"/>
  <a href="#" onclick="clearFilter(); return false"><img src="{{ MEDIA_URL }}silk/cancel.png" /></a>
</p>
{% endblock %}

{% block body %}
<div class="filtersection">
  <ul class="componentlist">
  {% for component in components %}
    <li class="filteritem">
      <a href="{% url xpcomref.views.appcomponent name=version.application version=version contract=component|urlencode %}">{{ component }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock body %}
