{% extends "apidoc.html" %}

{% block title %}{{ interface }} in {{ version.application }} {{ version }}{% endblock %}
{% block header %}{{ interface }} in {{ version.application }} {{ version }}{% endblock %}

{% block breadcrumbs %}
  &raquo; Applications
  &raquo; <select onchange="window.location.href = this.value">
            {% for v in interfaceversions %}
              <option value="{% url xpcomref.views.appinterface name=v.version.application version=v.version interface=interface %}"{% ifequal version v.version %} selected="selected"{% endifequal %}>{{ v.version.application.name }} {{ v.version }}</option>
            {% endfor %}
          </select>
  &raquo; <a href="{% url xpcomref.views.appinterfaces name=version.application version=version %}">Interfaces</a>
  &raquo; {{ interface }}
{% endblock %}

{% block navboxes %}
<p class="navbox">
  <img src="{$ROOT}/silk/arrow_divide.png" />
  Compare to:
  <select onchange="window.location.href = this.value">
    <option value="" selected="selected">--</option>
    {% for v in interfaceversions %}
      {% ifnotequal v.interface.hash interface.hash %}
        <option value="{% url xpcomref.views.compareappinterface leftname=version.application leftversion=version rightname=v.version.application rightversion=v.version interface=interface %}">{{ v.version.application.name }} {{ v.version }}</option>
      {% endifnotequal %}
    {% endfor %}
  </select>
</p>
<p class="navbox">
  <img src="{{ MEDIA_URL }}silk/script_go.png" />
  <a href="{{ interfaceversion.url }}">View IDL</a>
</p>
<p class="navbox">
  <img src="https://developer.mozilla.org/favicon.ico" />
  <a href="https://developer.mozilla.org/en/{{ interface.name|capfirst|urlencode }}">More information</a>
</p>
{% endblock %}

{% block body %}
<div id="platforms">
  {% for platform in interfaceversion.platforms.all %}
    <img src="{{ MEDIA_URL }}images/{{ platform.codename }}16.png" alt="{{ platform }}" title="Supported in {{ platform }}" />
  {% endfor %}
</div>
<div style="clear: both"></div>
{% for cvi in components %}
  {% if forloop.first %}
    <h2>Implemented by</h2>
    <ul class="implementlist components">
  {% endif %}
  <li><a href="{% url xpcomref.views.appcomponent name=version.application version=version contract=cvi.componentversion.component|urlencode %}">{{ cvi.componentversion.component }}</a></li>
  {% if forloop.last %}
    </ul>
  {% endif %}
{% endfor %}
<div class="idl">
  <pre class="comment">{{ interface.comment }}</pre>
  {% include "includes/interface.html" %}
</div>
{% for member in constants %}
  {% if forloop.first %}
    <h2><a name="constants">Constants</a></h2>
    <div>
  {% endif %}
      <div class="member constant">
        <pre class="comment">{{ member.comment }}</pre>
        {% include "includes/constant.html" %}
      </div>
  {% if forloop.last %}
    </div>
  {% endif %}
{% endfor %}
{% for member in attributes %}
  {% if forloop.first %}
    <h2><a name="attributes">Attributes</a></h2>
    <div>
  {% endif %}
      <div class="member attribute">
        <pre class="comment">{{ member.comment }}</pre>
        {% include "includes/attribute.html" %}
      </div>
  {% if forloop.last %}
    </div>
  {% endif %}
{% endfor %}
{% for member in methods %}
  {% if forloop.first %}
    <h2><a name="methods">Methods</a></h2>
    <div>
  {% endif %}
      <div class="member method">
        <pre class="comment">{{ member.method.comment }}</pre>
        {% include "includes/method.html" %}
      </div>
  {% if forloop.last %}
    </div>
  {% endif %}
{% endfor %}
{% endblock body %}
