{% extends "apidoc.html" %}

{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/filter.js"></script>
{% endblock %}

{% block title %}{{ version.application.name }} {{ version }} Interfaces{% endblock %}
{% block header %}{{ version.application.name }} {{ version }} Interfaces{% endblock %}

{% block breadcrumbs %}
  &raquo; Applications
  &raquo; <select onchange="window.location.href = this.value">
            {% for v in versions %}
              <option value="{% url xpcomref.views.appinterfaces name=v.application version=v %}"{% ifequal version v %} selected="selected"{% endifequal %}>{{ v.application.name }} {{ v }}</option>
            {% endfor %}
          </select>
  &raquo; Interfaces
{% endblock %}

{% block navboxes %}
<p class="navbox">
  <img src="{{ MEDIA_URL }}silk/find.png" />
  Filter: <input id="filterbox" type="text" onkeypress="filterChange()"/>
  <a href="#" onclick="clearFilter(); return false"><img src="{{ MEDIA_URL }}silk/cancel.png" /></a>
</p>
{% endblock %}

{% block body %}
{% for module in modules %}
  <div class="filtersection">
    <h2>{{ module.name }}</h2>
    <ul class="interfacelist">
    {% for interface in module.interfaces %}
      <li class="filteritem">
        <a href="{% url xpcomref.views.appinterface name=version.application version=version interface=interface %}">{{ interface }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}
{% endblock body %}
