{% extends "apidoc.html" %}

{% block head %}
<script type="text/javascript" src="{{ MEDIA_URL }}scripts/filter.js"></script>
{% endblock %}

{% block title %}All Components{% endblock %}
{% block header %}All Components{% endblock %}

{% block breadcrumbs %}
  &raquo; All Components
{% endblock %}

{% block navboxes %}
<p class="navbox">
  <img src="{{ MEDIA_URL }}silk/find.png" />
  Filter: <input id="filterbox" type="text" onkeypress="filterChange()"/>
  <a href="#" onclick="clearFilter(); return false"><img src="{{ MEDIA_URL }}silk/cancel.png" /></a>
</p>
{% endblock %}

{% block body %}
<div class="filtersection">
  <ul class="componentlist">
  {% for component in components %}
    <li class="filteritem">
      <a href="{% url xpcomref.views.component name=component %}">{{ component }}</a>
    </li>
  {% endfor %}
  </ul>
</div>
{% endblock body %}
