{% extends "apidoc.html" %}

{% block title %}Component {{ name }}{% endblock %}
{% block header %}Component {{ name }}{% endblock %}

{% block body %}
<ul class="bulletlist">
{% for component in components %}
  <li>{{ component.contract }} {{ component.cid }}
  <ul class="bulletlist">
  {% for version in component.componentversion_set.all %}
    <li>{{ version.version }}
    <ul class="bulletlist">
    {% for platform in version.platforms.all %}
      <li>{{ platform }}
    {% endfor %}
    </ul>
  {% endfor %}
  </ul>
{% endfor %}
</ul>
{% endblock body %}
