{% extends "apidoc.html" %}

{% block title %}Mozilla XPCOM Reference{% endblock %}
{% block header %}Mozilla XPCOM Reference{% endblock %}

{% block body %}
{% for version in applications %}
<h2>
  {{ version.application }} {{ version }}
  <a href="{% url xpcomref.views.appinterfaces name=version.application version=version %}">interfaces</a>
  <a href="{% url xpcomref.views.appcomponents name=version.application version=version %}">components</a>
</h2>
{% endfor %}
<h2><a href="{% url xpcomref.views.interfaces %}">All Interfaces</a></h2>
<h2><a href="{% url xpcomref.views.components %}">All Components</a></h2>
{% endblock body %}
