{% extends "apidoc.html" %}

{% block title %}All Interfaces{% endblock %}
{% block header %}All Interfaces{% endblock %}

{% block body %}
{% for module in modules %}
  <div class="filtersection">
    <h2>{{ module.name }}</h2>
    <ul class="interfacelist">
    {% for interface in module.interfaces %}
      <li class="filteritem">
        <a href="{% url xpcomref.views.interface name=interface %}">{{ interface }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}
{% endblock body %}
