{% extends "apidoc.html" %}

{% block title %}Interface {{ name }}{% endblock %}
{% block header %}Interface {{ name }}{% endblock %}

{% block body %}
<ul class="bulletlist">
{% for interface in interfaces %}
  <li>{{ interface.name }}
  <ul class="bulletlist">
  {% for version in interface.interfaceversion_set.all %}
    <li>{{ version.version }}
    <ul class="bulletlist">
    {% for platform in version.platforms.all %}
      <li>{{ platform }}
    {% endfor %}
    </ul>
  {% endfor %}
  {% for component in interface.component_set.all %}
    <li><a href="{% url xpcomref.views.component name=component %}">{{ component }}</a>
  {% endfor %}
  </ul>
{% endfor %}
</ul>
{% endblock body %}
