{% extends "apidoc.html" %}

{% block head %}
<script type="text/javascript" src="{% url xpcomref.views.index %}scripts/filter.js"></script>
{% endblock %}

{% block title %}All Interfaces{% endblock %}
{% block header %}All Interfaces{% endblock %}

{% block breadcrumbs %}
  &raquo; All Interfaces
{% endblock %}

{% block navboxes %}
<p class="navbox">
  <img src="{% url xpcomref.views.index %}silk/find.png" />
  Filter: <input id="filterbox" type="text" onkeypress="filterChange()"/>
  <a href="#" onclick="clearFilter(); return false"><img src="{% url xpcomref.views.index %}silk/cancel.png" /></a>
</p>
{% endblock %}

{% block body %}
{% for module in modules %}
  <div class="filtersection">
    <h2>{{ module.name }}</h2>
    <ul class="interfacelist">
    {% for interface in module.interfaces %}
      <li class="filteritem">
        <a href="{% url xpcomref.views.interface name=interface %}">{{ interface }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}
{% endblock body %}
