RewriteEngine on 
RewriteRule ^platform/([^/]+)$ platform.php?platform=$1 [L]
RewriteRule ^platform/([^/]+)/interface/([^/]+)$ interface.php?platform=$1&interface=$2 [L]
RewriteRule ^interface/([^/]+)$ interface.php?interface=$1 [L]
RewriteRule ^compare/platform/([^/]+)/([^/]+)$ comparePlatform.php?platform1=$1&platform2=$2 [L]
RewriteRule ^compare/interface/([^/]+)/([^/]+)/([^/]+)$ compareInterface.php?interface=$1&platform1=$2&platform2=$3 [L]
